.task{

}
.task-name{
    font-weight: bold;
    color: cadetblue
}

.task-action{
    cursor: pointer;
}
.task-completed{
    color: rgb(25, 126, 25);
    text-decoration: line-through;
}
.task-pending{
    font-weight: bold;
    color: tomato;
}
